body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.container-fluid {
  padding: 32px;
}

.card {
  border-radius: 2px;
  box-shadow: 1px 4px 10px #dedede;
}

.card-footer {
  background-color: #fff;
  text-align: right;
  border: none;
}

.btn {
  border-radius: 2px;
  font-weight: bold;
}
